<form class="" action="/<%= @filename %>" method="post">
  <label for="content">Edit <%= @filename %></label>
  <div>
    <textarea name="content" rows="10" cols="80"><%= @content %></textarea>
  </div>
  <button type="submit" name="button">Save Changes</button>
</form>
