<form action="/image/upload" method="post" enctype="multipart/form-data">
  <label for="image">Image you would like to upload:</label>
  <div>
    <input type="file" accept="image/*" name="image">
    <button type="submit">Upload</button>
  </div>
</form>
